<div class='desktop-tasks-todo'>
  <h3 class='desktop-tasks-todo__title'>zadania do zrobienia</h3>
  <ul class='desktop-tasks-todo-list'>
  {{#each tasks}}

      <li class='desktop-task-todo' tabindex="0" data-id="{{this.id}}" data-category="{{this.category}}" data-date="{{this.createdAt}}" data-time="{{this.time}}">
        <div class='desktop-task-logo'>
          <img class='desktop-task-logo__image' src='{{#if (equals this.category 'technologia')}}images/laptop-code-solid.svg{{else if (equals this.category 'rekreacja')}}images/running-solid.svg{{else if (equals this.category 'jedzenie')}}images/pizza-slice-solid.svg{{else if (equals this.category 'osobiste')}}images/user-tie-solid.svg{{/if}}'
            alt='laptop icon'>
        </div>
        <span class='task__title'>{{ this.title }}</span>
      </li>

  {{/each}}
  </ul>
</div>