<ul class='category-list'>
  <li class='category'>
    <span class='category__name'>Wszystkie</span>
    <div class='category__pill'>{{ tasks.length }}</div>
  </li>
  <li class='category'>
    <img src='images/running-solid.svg' alt='running man icon'
      class='category__icon'>
    <div class='category__dot category__dot--orange'></div>
    <span class='category__name'>Rekreacja</span>
    <div class='category__pill'>{{ categories.recreation }}</div>
  </li>
  <li class='category'>
    <img src='images/laptop-code-solid.svg' alt='laptop icon'
      class='category__icon'>
    <div class='category__dot category__dot--yellow'></div>
    <span class='category__name'>Technologia</span>
    <div class='category__pill'>{{ categories.technology }}</div>
  </li>
  <li class='category'>
    <img src='images/user-tie-solid.svg' alt='user icon'
      class='category__icon'>
    <div class='category__dot category__dot--red'></div>
    <span class='category__name'>Osobiste</span>
    <div class='category__pill'>{{ categories.personal }}</div>
  </li>
  <li class='category'>
    <img src='images/pizza-slice-solid.svg' alt='pizza slice icon'
      class='category__icon'>
    <div class='category__dot category__dot--green'></div>
    <span class='category__name'>Jedzenie</span>
    <div class='category__pill'>{{ categories.food }}</div>
  </li>
</ul>