<ul class='tasks-list'>
  {{#each tasks}}
  <li class='task'>
    <div class='task-logo'>
        <img class='task-logo__image task-logo__image--large' src='{{#if (equals this.category 'technologia')}}images/laptop-code-solid.svg{{else if (equals this.category 'rekreacja')}}images/running-solid.svg{{else if (equals this.category 'jedzenie')}}images/pizza-slice-solid.svg{{else if (equals this.category 'osobiste')}}
          images/user-tie-solid.svg{{/if}}'>
    </div>
    <h3 class='task__title'>{{ this.title }}</h3>
    <h2 class='task__date'>{{ this.createdAt }}</h2>
    <div class='action-buttons'>
      <button class='button-edit'>
        <img class='button-edit__icon' src='images/edit-solid.svg'>
      </button>
      <button class='button-delete'>
        <img class='button-delete__icon' src='images/times-solid.svg'>
      </button>
    </div>
  </li>
  {{/each}}
</ul>