<ul class='tasks-list'>
  {{#each tasks}}
  <li class='task'>
    <div class='task-logo'>
        <img class='task-logo__image task-logo__image--large' src='{{#if (equals this.category 'technologia')}}images/laptop-code-solid.svg{{else if (equals this.category 'rekreacja')}}images/running-solid.svg{{else if (equals this.category 'jedzenie')}}images/pizza-slice-solid.svg{{else if (equals this.category 'osobiste')}}
          images/user-tie-solid.svg{{/if}}'>
    </div>
    <span class='task__title'>{{ this.title }}</span>
    <span class='task__date'>{{ this.createdAt }}</span>
    <span class='task__time'>{{ this.time }}</span>
  </li>
  {{/each}}
</ul>